---
//import "../styles/global.css";
import Layout from '../layouts/Layout.astro';
---

<Layout title='Dhana'>
  <header class='flex justify-center py-14 items-center flex-col'>
    <div class='h1 font-extrabold'>
      <span
        class='bg-clip-text text-transparent bg-gradient-to-r from-pink-500 to-violet-500'
      >
        Hello world!
      </span>
    </div>
    <p>My name is <span class='font-semibold'>Ramadhana Rizqy Arifin</span></p>
  </header>
  <section class='flex justify-center w-1/2'>
    <p class='border-2'>
      Diligent and driven second year information system student looking to
      leverage web development and organizational skills. Always interested in
      learning something new, eager to further develop programming knowledge in
      external and internal organization.
    </p>
  </section>
</Layout>
