<header class='sm:py-10 py-3 sm:px-24 px-2'>
  <div class='card-header shadow-lg sm:px-20 px-5 pt-16'>
    <div
      class='h1 font-extrabold sm:flex sm:mb-0 mb-4 items-center gap-x-2 hidden'
    >
      <span
        class='bg-clip-text text-transparent bg-gradient-to-r from-pink-500 to-violet-500'
      >
        Hello!, I am Dhana
      </span>
      <div class='animate-bounce'>&#9889;</div>
    </div>
    <div
      class='text-3xl font-extrabold flex sm:mb-0 mb-4 items-center gap-x-2 sm:hidden'
    >
      <span
        class='bg-clip-text text-transparent bg-gradient-to-r from-pink-500 to-violet-500'
      >
        Hello!, I am Dhana
      </span>
      <div class='animate-bounce'>&#9889;</div>
    </div>
    <p>
      Diligent and driven third year information system undergraduate from
      Surabaya, Indonesia 🇮🇩 looking to leverage software engineering and
      organizational skills. Always interested in learning something new, eager
      to further develop programming knowledge in external and internal
      environment.
    </p>
    <a
      href='#experience'
      class='sm:w-1/4 bg-gradient-to-r from-violet-500 to-violet-700 group flex items-center gap-x-2 mt-10 mb-14 transition-transform focus:outline-none focus:ring-4 focus:ring-violet-300 hover:from-violet-500/[0.8] hover:to-violet-700/[0.8] hover:-translate-y-1 text-white font-semibold rounded px-5 py-3'
      >More about me <span class='transition-transform group-hover:rotate-90'>
        <svg
          xmlns='http://www.w3.org/2000/svg'
          class='h-5 w-5'
          viewBox='0 0 20 20'
          fill='currentColor'
        >
          <path
            fill-rule='evenodd'
            d='M12.293 5.293a1 1 0 011.414 0l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414-1.414L14.586 11H3a1 1 0 110-2h11.586l-2.293-2.293a1 1 0 010-1.414z'
            clip-rule='evenodd'></path>
        </svg>
      </span>
    </a>
  </div>
</header>

<style>
  .card-header {
    backdrop-filter: blur(21px) saturate(198%);
    -webkit-backdrop-filter: blur(21px) saturate(198%);
    background-color: rgba(255, 255, 255, 0.69);
    border-radius: 12px;
    border: 1px solid rgba(209, 213, 219, 0.3);
  }
</style>
